
/* For Questions Page */

/* Navbar */
.container-fluid
{
    background-color: #3CC48E;
    padding:3% 15% 7%;
}
.nav-item
{
    font-size:1.4rem;
    color:white;
}

/* Questions */
.ques
{
    display: flex;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size:1.25rem;
    padding-left: 5%;
}
@media screen and (min-width: 720px)
{
    .logo
    {
        height:30px;
    }
}
.footer{
    padding-bottom: 50px;
}